@model Articulo

@{
    ViewData["Title"] = "Crear Nuevo Artículo";
}

<div class="container mt-4">
    <h2>@ViewData["Title"]</h2>
    <form method="post" accion="CrearArticulo">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="mb-3">
            <input type="text" class="form-control" id="ArticuloID" asp-for="ArticuloID"  hidden>
            <label for="NombreArticulo" class="form-label">Nombre Artículo</label>
            <input type="text" class="form-control" id="NombreArticulo" asp-for="NombreArticulo" required>
        </div>
        <div class="mb-3">
            <label for="Descripcion" class="form-label">Descripción</label>
            <input type="text" class="form-control" id="Descripcion" name="Descripcion" asp-for="Descripcion" required>
        </div>
        <div class="mb-3">
            <label asp-for="PrecioText" class="form-label">Precio unidad</label>
            <input asp-for="PrecioText" class="form-control" />
            <span asp-validation-for="PrecioText" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label for="Stock" class="form-label">Stock</label>
            <input type="number" class="form-control" id="Stock" name="Stock" asp-for="Stock" min="0" required>
        </div>
        <button type="submit" class="btn btn-primary">Guardar</button>
        <a class="btn btn-secondary" asp-action="Index">Cancelar</a>
    </form>
</div>

