@model Usuario

@{
    ViewData["Title"] = "Login";
}

<div class="center-screen">
    <div class="col-md-4">
        <div class="card shadow">
            <div class="card-body">
                <h5 class="card-title text-center">Inicio de Sesión</h5>
                <form asp-action="Login" method="post">
                    <div class="mb-3">
                        <label for="NombreUsuario" class="form-label">Nombre de usuario</label>
                        <input type="text" class="form-control" id="NombreUsuario" name="NombreUsuario" required>
                    </div>
                    <div class="mb-3">
                        <label for="Contraseña" class="form-label">Contraseña</label>
                        <input type="password" class="form-control" id="Contraseña" name="Contraseña" required>
                    </div>
                    <button type="submit" class="btn btn-primary w-100">Iniciar sesión</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Script para alert -->
@section Scripts {
    @if (TempData["MostrarAlerta"] != null && (bool)TempData["MostrarAlerta"])
    {
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: 'Credenciales inválidas, por favor verifica tus datos.',
                    confirmButtonText: 'OK'
                });
            });
        </script>
        TempData["MostrarAlerta"] = false; // Reiniciamos el valor para que no muestre la alerta en futuras peticiones
    }
}